
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head> 
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>
    <h1>Escola</h1>
    <div class="div-titulo">
        <a href="/escola"
           class="titulo">Lista de escolas</a>
    </div>

    <form action="/escola/store" method="post">
        <div class="div-campo">
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" 
                   class="campo" id="campo-nome"/>
        </div>
        
        <button type="submit" class="botao">Salvar</button>
    </form>
</body>
</html>
