
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="~/Content/EscolaIndex.css" />
</head>
<body>
    <div>
        <a href="/escola/cadastro"
           id="botao-cadastro">
            Cadastro Escola
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag
           .Escolas.Count; i++)
            {
                <tr>
                    <td>@ViewBag.Escolas[i].Id</td>
                    <td>@ViewBag.Escolas[i].Nome</td>
                    <td>
                        <a href="/escola/editar?id=@ViewBag.Escolas[i].Id">Editar</a>
                        <a href="/escola/apagar?id=@ViewBag.Escolas[i].Id">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Código</th>
                <th>Nome</th>
            </tr>
        </tfoot>
    </table>
</body>
</html>
